<!DOCTYPE html>
<html class="h-full bg-gray-100">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {% block stylesheets %}
            <script src="https://cdn.tailwindcss.com"></script>
        {% endblock %}

        {% block javascripts %}
        {% endblock %}
    </head>
    <body class="h-full">
        <div class="min-h-full flex flex-col">
            {% include 'partials/_header.html.twig' %}

            <main class="flex-grow">
                <div class="max-w-7xl mx-auto py-6 sm:px-6 lg:px-8">
                    {% include 'partials/_flash_messages.html.twig' %}
                    {% block body %}{% endblock %}
                </div>
            </main>

            {% include 'partials/_footer.html.twig' %}
        </div>
    </body>
</html>
